<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Página Principal</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
<h1>Bienvenido a la Página Principal</h1>
<p>Hola, <span th:text="${userName}">Usuario</span>!</p>
<nav>
  <ul>
    <li><a href="/createSurvey">Crear Encuesta</a></li>
    <li><a href="/mySurveys">Mis Encuestas</a></li>
    <li><a href="/otherSurveys">Ver Encuestas Disponibles</a></li>
    <li><a href="/logout">Cerrar Sesión</a></li>
  </ul>
</nav>
</body>
</html>