<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mis Encuestas</title>
</head>
<body>
<h1>Mis Encuestas</h1>
<ul>
  <li th:each="survey : ${surveys}">
    <span th:text="${survey.title}"></span>
    <a th:href="@{'/viewQuestions/' + ${survey.id}}">Ver Preguntas</a>
    <a th:href="@{'/addQuestion/' + ${survey.id}}">Añadir Pregunta</a>
    <a th:href="@{'/api/surveys/mySurveys/' + ${survey.id} + '/responses'}">Ver Respuestas</a>
  </li>
</ul>
<a href="/home">Volver al Inicio</a>
</body>
</html>